.read-more-container{
    display: flex;
    flex-direction: column;
    color: rgb(173 174 193);
    gap: 1rem;
}



.read-more-btn{
    color: rgb(251 91 33);
}

.read-more-text{
    display: none;
}

.read-more-text--show{
    display: inline;
}
button {
    cursor: pointer;
   
    background-color: transparent;
    height: 40px;
    width: 150px;
    font-size: 15px;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6);
}