.read-more-container{
    display: flex;
    flex-direction: column;
    color: rgb(173 174 193);
    gap: 1rem;
}



.read-more-btn{
    color: rgb(251 91 33);
}

.read-more-text{
    display: none;
}

.read-more-text--show{
    display: inline;
}